@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.cdnfonts.com/css/league-spartan');

.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.App h1, .App h4, .Share {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  font-family: 'League Spartan', sans-serif;
}

.blue {
  color: lightblue;        
}

Alert, Link {
  word-break: break-word;
}

.btn {
  padding: 5px;
  margin-top: 10px;
}

Form {
  text-align: left; 
  align-content: center;
  align-items: center;
}

.Title {
  padding: 25px;
}

@media only screen 
and (min-width : 1224px)  {

  .TranslateBox {
    width: 800px; 
    padding: 25px;
    margin: 5px;
    border: solid black 1px;
    word-wrap: break-word;
    /* background-color: white; */
    background-image: linear-gradient(lightblue, gray);
  }


   .InfoAlert {
    width: 600px; 
    padding: 25px;
    margin: 5px;
    text-align: justify;
    /* border: solid black 1px; */
    background-color: white;
  }
 

  Button {
    padding: 5px;
    margin: 5px;
  }

  .TextArea {
    display: inline-flex;
    margin: 5px;
  }

  .form-group {
    width: 370px;
    padding: 5px;
    margin: 0px;
  }
}

@media only screen 
and (max-width : 600px)  
{

  .TranslateBox {
    width: 320px; 
    padding: 25px;
    margin-top: 30px;
    border: solid black 1px; 
    /* background-color: white; */
    background-image: linear-gradient(lightblue, gray);
  }
  
  .InfoAlert {
    width: 320px; 
    padding: 25px;
    text-align: justify;
   /* border: solid black 1px; */
    background-color: white;
  }

  Alert {
    width: 320px;
  }

  Button {
    padding: 5px;
    margin: 5px;
  }
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
  .TranslateBox {
    width: 600px; 
    padding: 25px;
    margin: 5px;
    border: solid black 1px;
    /* background-color: white; */
    background-image: linear-gradient(lightblue, gray)
  }

   .InfoAlert {
    width: 600px; 
    padding: 25px;
    margin: 5px;
    /* border: solid black 1px; */
    background-color: white;
  }
 

  Button {
    padding: 5px;
    margin: 5px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
  .TranslateBox {
    width: 600px; 
    padding: 25px;
    margin: 5px;
    border: solid black 1px;
    /* background-color: white; */
    background-image: linear-gradient(lightblue, gray)
  }

   .InfoAlert {
    width: 600px; 
    padding: 25px;
    margin: 5px;
    /* border: solid black 1px; */
    background-color: white;
  }
 

  Button {
    padding: 5px;
    margin: 5px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
